@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 1em;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
ul li:before{
  content: "- ";
}
.patientData{
  border: 2px solid grey;
  padding: 1em;
  border-radius: 1em;
}
